* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Html style*/
html {
    background-color: #faebd7;
}

/* header style */
header h1 {
    background-color: antiquewhite;
    text-align: center;
    border: double;
    border-width: 10px;
}
/*body style */
body {
    width: 90%;
    height: 90%;
    max-width: 850px;
    margin: 0 auto;
    padding: 0 ;
}
/*main style*/
main { 
    border: solid;
    border-width: 5px;
    height: 70%;
    width: 90%;
    margin: 0 auto;
}

main p {
    margin: 1em;
    padding: 0.5em;

}
/*image style*/
img {
    height: 9em;
    width: 15em;
    float: left;
}
 .img-border {
    border-color: royalblue;
    border-width: 1em;
    border-style: ridge;
 }



/*Id style */
#nav_list{
    background-color:  white;
    border:double black;
    border-width: 10px;
    width: 50%;
    list-style-position: inside;
}


#nav_res {
    background-color: white;
    border: double black;
    border-width: 10px;
    list-style-position: inside;
}


/* link style*/
a:link {
    color: blue;
}
a:hover {
    color: red;
}

a:active {
    color: purple;
}

button {
    background-color: lightblue;
    border-style: ridge;
    border-width: 0.3em;
    color: black;
    text-decoration: none;
    padding: 0.5%;
    margin: 2%;
    cursor: pointer;
}
